* {
    margin: 0%;
    padding: 0%;
}
body
{
    background-color: brown;
}

.project {

display: flex;
flex-direction: column;
gap: 20px;


    .main {
        position: absolute;
        top: 50px;
        left: 50px;
        z-index: 3;
        display: flex;
        border: 1px solid black;
        width: 700px;
        
        background-color: white;


        .one {
            width: 560px;
            height: 420px;


            .l2 {
                padding: 1px 14px;
                margin-left: 3px;
                display: flex;
                margin-top: 21px;
                height: 18px;
                align-items: center;
                width: 60%;
                display: flex;
                list-style: none;
                gap: 14px;
                justify-content: space-around;
                border-bottom: 1px solid black;
                border-top: 1px solid black;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


            }

            h1 {
                padding: 14px;
                display: flex;
                align-items: center;
                font-size: 56px;
                height: 140px;
                margin-left: 14px;
            }

            .l3 {
                display: flex;
                justify-content: space-around;
                width: 70%;

                .left {
                    h2 {
                        text-transform: capitalize;
                        color: black;
                        font-size: 15px;
                        font-weight: 700px;
                    }

                    p {
                        padding-top: 10px;
                        color: black;
                        font-size: 13px;
                    }
                }

                .rigth {
                    h2 {
                        text-transform: capitalize;
                        color: black;
                        font-size: 15px;
                        font-weight: 700px;
                    }

                    p {
                        padding-top: 10px;
                        color: black;
                        font-size: 13px;
                        width: 175px;
                    }
                }
            }

            .footer {
                .foot {
                    display: flex;
                    height: 200px;
                    align-items: center;
                    justify-content: center;
                    gap: 35px;
                    width: 70%;

                    img {
                        height: 30px;
                        width: 30px;
                    }

                    p {
                        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                        font-size: 15px;
                    }
                }
            }
        }

        .two {
            height: 420px;
            display: flex;
            align-items: center;

            img {

                position: absolute;
                left: 385px;
                width: 280px;
                height: 350px;
                border: 7px solid rgb(151, 34, 34);
            }
        }

        .three {
            width: 140px;
            height: 420px;

            background-color: rgb(218, 160, 84);
        }
    }

    /*  end of the page */
    .main2 {
        position: absolute;
        top: 100px;
        z-index: 2;
        display: flex;
        border: 1px solid black;
        width: 700px;
        background-color: white;
       
        left: 400px;


        .one1 {
            width: 560px;
            height: 420px;


            p {
                padding: 50px;
                padding-top: 130px;
                font-size: 14px;
                width: 250px;
                text-align: justify;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            }
        }

        .two2 {
            width: 126px;

            img {
                position: absolute;
                
                width: 150px;
                height: 150px;
                


            }

        }

        .three3 {
        
            width: 210px;
            height: 420px;
            display: flex;
            align-items: center;
            background-color: grey;

            ul {
                display: flex;
                flex-direction: column;
                justify-content: center;

                li {
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    list-style: none;
                    margin-left: 10px;
                }
            }
        }
    }

    .main3 {
        position: absolute;
        top: 200px;
        left: 300px;
        height: 420px;
        width: 700px;
        border: 7px solid red;
        background-color: rgb(40, 39, 39);
        


        h1 {
            height: 280px;
            padding-left: 14px;
            display: flex;
            align-items: end;
            font-size: 7px;
            color: aliceblue;
        }
    }
}