* {
    padding: 0%;
    margin: 0%;
}

.container {
    .navbar {
        display: flex;
        background-color: rgb(187, 187, 187);
    
        justify-content: space-around;
        align-items: center;

        img {
            width: 400px
        }

        a {
            color: black;
            font-size: 20px;
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
            text-transform: capitalize;


        }

        .contact {
            background-color: black;
            border-radius: 15px;
            width: 80px;
            height: 40px;
            color: white;
        }
    }

    .subnav {
        background-color: bisque;
         
        h1 {
            text-align: center;
            width: 800px;
            margin-left: 100px;
            font-size: 50px;
            background-color: bisque;
            
             font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }

        .learn_us {
            margin-top: 20px;
            background-color: rgb(0, 0, 0);
            color: white;
            width: 100px;
            height: 30px;
            
             border-radius: 30px;
            margin-left: 400px;
            margin-bottom: 20px;
        }
    }
    .title{
        padding:10px 10px 10px 10px;
        background-color: lightcoral;
         display: flex;
         flex-direction: row;
         gap: 30px;
         border: 1px solid black;


         
         

        img{
            width: 400px;
            border-radius: 5px;
            
        }
        .about{

        h2{  
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 25px;
            font-weight: bold;
            color:black;
            text-transform: capitalize;
            margin-top: 10px;
        }
        p{ width: 600px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 20px;
             text-transform: capitalize;
            color: black;
           text-align:left; 
           margin-bottom: 20px ;
        }
         
    .numbers{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;}
       
        .num{
            flex: 1 1 45%;
            min-width: 260px;
             
            h1{
                color: red;
                font-size: 15px;
            
            }
            p{
                color: black;
                font-size: 15px;
            }
        }
     
.info_row{
    display: flex;
    gap: 80px;
    .info{
    
color: rgba(25, 24, 24, 0.612);
    }
}

    button{
        margin-top: 20px;
        background-color: rgb(0, 0, 0);
            color: white;
            width: 150px;
            height: 40px;
            font-size: 15px;
            
             border-radius: 30px;
            margin-left: 4px;
    }
}
    }

.cards{
    .card_heading
    {
        background-color: black;
    h1{  
        margin-left: 30px;
         color: white;
         font-size: 40px;
         margin-bottom: 20px;
    }
        }
    

 p{
    color: white;
     font-size: 20px;
     width:900px;
     margin-left: 40px;
 }
 
}
 
.cards {
    background: black;
    padding: 60px 40px;

}

/* flex row */
.card_container {
    display: flex;
    gap: 40px;
    justify-content: center;

    flex-wrap: wrap;
}

/* each card */
.card {
    background: white;
    padding: 35px;
    border-radius: 15px;
    width: 320px;
    flex: 1 1 300px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}

/* icon */
.card_icon {
    font-size: 40px;
    margin-bottom: 15px;
    color: #c14a2f;
}

/* title */
.card h2 {
    font-size: 22px;
    margin-bottom: 15px;
}

/* text */
.card p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    width: 250px;
}


}



