*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: #F7C1C1;
}
.container{
    display: flex;

    flex-direction: row;


    .cat1{
        position: absolute;
        top: 300px;
        left: 500px; 
        z-index: 1;
        img{
            width: 400px;
            height: 600px;
            border:4px solid black;
            border-radius:  4px;
             box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
            
           
        }
    }
    .cat2{
        position: absolute;
        top: 200px;
        left: 200px;
        z-index: 2;
        img{
            width: 400px;
            height: 390px;
            border:4px solid pink;
            border-radius: 4px;
            box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
            
        }
    }
    .cat3{
        position: absolute;   

        top: 700px;
        left: 800px;
        img{
             width: 400px;
            height: 380px;
            border:4px solid pink;
            border-radius: 4px;
            box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
          

        }
    }
    .heading{
        background-color:#F7C1C1
         ;
         display: flex;
         
         
        h1 {
color: #FFFFFF;
background: #F7C1C1;
text-shadow: 4px 3px 0px #7A7A7A;
color: #FFFFFF;
background: #F7C1C1;
font-size: 200px;

}
i{
    font-size: 110px;
 position: absolute;
 top: 60px;
 left:88%;
}
    }
    
}   