* {
    margin: 0;
    padding: 0
}

body {
    background-color:lightpink;
    font-family: Avenir Next Demi, sans-serif;
     
}

.project {
    .top {
        display: flex;
        justify-content: space-around;
        height: 90px;
        align-items: center;

        h1 {
            font-size: 16px;
        }

        div {
            display: flex;
            gap: 20px;

            #orange {
                color: orangered;
            }

            a {
                text-decoration: none;
                color: black;
                border: 1px solid orangered;
                border-radius: 15px;
                padding: 5px;
            }
        }
    }

    .navbar {
        margin-left: 250px;
        display: flex;
        border: 1px solid white;
        justify-content: space-around;
        border-radius: 45px;
        gap: 15px;
        background-color: white;
        height: 90px;
        padding: 0px 20px;
        align-items: center;
        width: fit-content;

        img {
            height: 50px;
        }

        a {
            text-decoration: none;
            color: black;
            font-size: 20px;
            padding: 5px;
        }

        #home {

            color: orangered;

        }

    }

    .title {
        text-align: center;
        padding: 30px;
        line-height: 60px;

        h1 {
            font-size: 50px;
        }

        p {
            font-size: 20px;
        }
    }

    .subnavbar {
        display: flex;
        gap: 30px;
        justify-content: center;

        .tab1 {
            background-color: white;
            display: flex;
            gap: 20px;
            border: 1px solid rgb(219, 213, 213);
            height: 50px;
            align-items: center;
            border-radius: 30px;
            padding: 0px 20px;

            h1 {
                font-size: 18px;
                color: rgb(180, 180, 180);
            }
        }

        a {
            font-size: 20px;
            padding: 15px 25px;
            color: orangered;
            text-decoration: none;
            border: 1px solid orangered;
            border-radius: 30px;

        }
    }

    .cards {
        display: flex;
        justify-content: center;
        gap: 30px;
        padding: 15px;

        .card1 {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .card11 {
                border: 1px solid thistle;
                background-color: rgb(231, 218, 231);
                border-radius: 30px;
                padding: 30px;

                h1 {
                    font-size: 20px;

                }
            }

            .card12 {
                border: 1px solid rgb(185, 228, 246);
                background-color: rgb(190, 230, 239);
                border-radius: 30px;
                padding: 30px;

                h1 {
                    font-size: 20px;

                }
            }

            .card13 {
                border: 1px solid rgb(246, 186, 74);
                background-color: rgb(235, 203, 144);
                border-radius: 30px;
                padding: 30px;

                h1 {
                    font-size: 20px;

                }
            }

        }

        .card2 {
            img {
                height: 355px;
                border: 1px solid purple;
                border-radius: 30px;
            }
        }

        .card3 {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .card31 {
                border: 1px solid rgb(234, 157, 210);
                background-color: rgb(246, 211, 235);
                border-radius: 30px;
                padding: 30px;

                h1 {
                    font-size: 20px;

                }
            }

            .card32 {
                border: 1px solid rgb(244, 174, 105);
                background-color: rgb(254, 223, 152);
                border-radius: 30px;
                padding: 30px;

                h1 {
                    font-size: 20px;

                }
            }

            .card33 {
                border: 1px solid rgb(103, 247, 98);
                background-color: rgb(180, 244, 181);
                border-radius: 30px;
                padding: 30px;

                h1 {
                    font-size: 20px;

                }
            }

        }
    }

    .middle {
        text-align: center;
        padding: 10px;

        h1 {
            font-size: 50px;
        }

        p {
            font-size: 25px;
            color: grey;
        }
    }

    .image-card {
        display: flex;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
        padding: 20px;
        .image-card1 {
            display: flex;
            flex-direction: column;
            border: 1px solid rgb(233, 165, 77);
            background-color: rgb(251, 231, 231);
            border-radius: 30px;
            padding: 40px 50px;
            gap: 10px;

            img {
                margin-left: 50px;
                width: 80px;
                border: 1px solid orangered;
                border-radius: 40px;
            }

            h3 {
                text-align: center;
            }

            h4 {
                text-align: center;
                color: grey;
            }

            .btn {
                display: flex;
                justify-content: space-evenly;
                gap: 30px;
                padding: 5px;

                a {
                    text-decoration: none;
                    color: orangered;
                    border: 1px solid orangered;
                    padding: 5px 10px;
                    border-radius: 15px;
                }
            }
        }

    }

    .sticky-navbar {
        position: sticky;
        top:10px;
        border: 1px solid rgb(251, 105, 52);
        width: fit-content;
        background-color: white;
        border-radius: 50px;
        display: flex;
        justify-content: space-around;
        height: 80px;
        gap: 40px;
        margin-left: 200px;
        align-items: center;
        padding: 0px 100px ;
        a {
            text-decoration: none;
            color: black;
            font-size: 20px;
            padding: 5px;
        }

        #orange {

            color: orangered;
        }
    }
    #what-you-get{
        font-size: 70px;
        text-align: center;
        padding: 30px;
    } 
    .work{
        h1{
            font-size: 60px;
            text-align: center;
            background-color: rgb(237, 223, 237);
            padding: 20px;
        }
        .works{
            background-color: rgb(237, 223, 237);
            padding: 50px 160px;
            display: flex;
            gap: 100px;
            flex-wrap: wrap;
            img{
            height:90px;
            border: 1px solid white;
            border-radius: 45px;
        }
        }
    }
    .request{
        margin:150px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        border: 1px solid rgb(246, 186, 74);
        border-radius: 30px;
        padding: 80px;
        background-color: rgb(255, 238, 175);
        h1{
            font-size: 70px;
            text-align: center;
        }
        p{
            font-size: 20px;
            text-align: center;
        }
        a{
            width: fit-content;
            margin-left: 400px;
            text-align: center;
            font-size: 25px;
            text-decoration: none;
            color: orangered;
            border: 1px solid orangered;
            padding: 5px 10px;
            border-radius: 20px;
            
        }
       
    }
     
}
