*{
    margin: 0px;
    padding: 0px;
}
.project{
  
    background-color: rgb(35, 246, 246);
    .nav{
           margin-bottom: 20px;
           border-top: 20px;

        
        a{
            color: black;
            font-size: 20px;
            text-decoration: none;
            margin-left: 20px;
            padding-bottom: 40px;

           
        }
         #home{
            margin-left: 550px;
            padding-top: 30px;
           } 
         #instagram{
            margin-left: 350px;
             
         }
          border-bottom: 5px solid rgba(192, 192, 192, 0.289);
    }

    .title{
        margin-bottom: 20px;
          margin-left: 560px;
          a{
            font-size: 40px;
            text-decoration: none;
          }
          i{
            font-size: 40px;
          }
    }
    .subnav{
        margin-bottom: 20px;
         margin-left: 450px;
         a{
margin-left: 20px;
padding-bottom: 20px;
         }
    }
    .image{
        margin-top: 20px;
        margin-left: 450px;
        border: 4px solid silver;
        width: 400px;
        #food{
            width: 400px;
        }
        h2{
            font-size: 20px;
            color: darkblue;
            font-weight: bold;
        }

        p{
            color: grey;
            font-size: 17px;
            font-family: Arial, Helvetica, sans-serif;
            text-align: justify;
        }
        a{ 
             padding-top: 20px;
            color: red;
            text-decoration: none;
            font-size: 20px;
            text-transform: capitalize;
            font-weight: bold;
        }
    }
    .footer{
        margin-top: 20px;
        text-align: center;
        border-top: 3px solid grey;
        
        background-color: rgb(185, 36, 162);
        i{
            font-size:40px ;
            margin-bottom: 20px;
           
            
        }
        a{
            font-size: 40px;
            color: rgb(230, 230, 230);
            text-decoration: none;
          
           
             
        }
        
        h4{
            margin-bottom: 20px;
            font-size: 20px;
            color: white;
            
            border-bottom: 2px solid white;
        }
        
     
    }

}